body {
    margin: 0;
    transition: all 0.35s linear;
    background-color: rgb(79, 84, 88);
}

img {
    border-style: hidden;
}

.title_group {
    background: linear-gradient(rgb(179, 197, 207), rgb(106, 123, 139), rgb(79, 84, 88));
    color: rgb(179, 197, 207);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 24px 12px;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.galley_list {
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;

}

.art-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    background-color: rgb(160, 161, 157);
    background-clip: border-box;
    border: 1px solid;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(160, 161, 157, .1), 0 0 0 1px rgba(160, 161, 157, .2);
    color: rgb(232, 236, 229);
    max-width: 100%;
    display: flex;
    margin: 20px 30px auto;
}

.art-work-img {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    margin: auto;
    height: 300px;
    max-width: 300px;
}

.art-work-body {
    -webkit-box-flex: 1;
    padding: 10px;
    text-align: center;
}

.art-work-title {
    margin-bottom: .75rem;
}

.art-work-artist {
    font-size: 10px;
    text-align: right;
}

.select_button {
    margin: 10px auto;
}

.btn.btn-primary, .download_button {
    background: transparent;
    border: 1px solid rgb(179, 197, 207);
    color: rgb(179, 197, 207);
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: none !important;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn.btn-primary:hover, .download_button:hover {
    border: 1px solid rgb(106, 123, 139);
    background: transparent;
    color: rgb(106, 123, 139);
}

.upload_url {
    margin: 100px auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

#url, label {
    padding: 16px 48px;
    border: 3px solid rgb(106, 123, 139);
    border-radius: 48px;
    background: rgb(79, 84, 88);
}

input::placeholder {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-weight: normal;
    color: rgb(106, 123, 139)
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#url:hover, label:hover {
    transform: scale(1.04);
}

.show_img {
    margin: 100px auto;
    height: 100vh;
    display: none;
    position: relative;
    justify-content: center;

}

.photo_frames {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: center;
    min-width: 0;
    max-width: 100%;
    display: flex;
}

#origin_img, #transfer_img {
    margin: 30px 75px;
    border: 5px solid rgb(106, 123, 139);
    border-radius: 48px;
    width: 700px;
    height: 700px;

}