img {
    vertical-align: middle;
    border-style: none;
}

* {
    margin: 0;
    box-sizeing: border-box;
    transition: all 0.35s linear;
}

.title_group {
    background: linear-gradient(rgb(179, 197, 207), rgb(106, 123, 139), rgb(79, 84, 88));
    color: rgb(179, 197, 207);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 24px 12px;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.galley {
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;

}

.art-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    background-color: rgb(160, 161, 157);
    background-clip: border-box;
    border: 1px solid;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(160, 161, 157, .1), 0 0 0 1px rgba(160, 161, 157, .02);
    color: rgb(232, 236, 229);
    max-width: 100%;
    display: flex;
    margin: 20px 30px auto;
}

.art-work-img {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    margin: auto;
    height: 300px;
    max-width: 300px;
}

.art-work-body {

    -webkit-box-flex: 1;
    padding: 10px;
    text-align: center;
}

.art-work-title {
    margin-bottom: .75rem;
}

.art-work-artist {
    font-size: 10px;
    text-align: right;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 84, 88);
}

.select_button {
    margin: 10px auto;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-primary {
    background: rgb(160, 161, 157);
    border: 1px solid rgb(179, 197, 207);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: none !important;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn.btn-primary:hover {
    border: 1px solid rgb(179, 197, 207);
    background: transparent;
    color: rgb(179, 197, 207);
}
