<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>some.st</title>
        <link rel="stylesheet" href="static/style.css?44" type="text/css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    </head>
    <body>
        <section class="foreword">
            <div class="title_group">
                <h1 class="title">some.st</h1>
                <h4 class="subtitle">여러 화풍으로 이미지 변화</h4>
            </div>
        </section>
        <div class="galley">
            <div class="art-work">
                <img class="art-work-img" src="static/la_muse.jpg" alt="la_muse">
                <div class="art-work-body">
                    <h5 class="art-work-title">라뮤즈</h5>
                    <h5 class="art-work-artist">by 파블로 피카소</h5>
                    <div class="select_button">
                        <button onclick="OpenCard()" type="button" class="btn btn-primary">select</button>
                    </div>
                    {#            <div class="FileUpload">#}
                    {#                <input type="file" id="Uploadimg" name="Uploadfile" accept="image/png, image/jpeg"#}
                    {#                       formenctype="multipart/form-data">#}
                    {#                <span onclick="ImgUpload()" class="btn btn-white" id="Confirmation">Upload</span>#}
                    {#            </div>#}
                    <div class="upload_file">
                        <input type="file" name="" id="file" hidden>
                        <label for="file" id="selector">select file</label>
                    </div>
                    <script src="../static/js/file.js"></script>
                </div>
            </div>
            <div class="art-work">
                <img class="art-work-img" src="static/rain_princess.jpg" alt="rain_princess">
                <div class="art-work-body">
                    <h5 class="art-work-title">비 공주</h5>
                    <h5 class="art-work-artist">by 레오니드 아프레모프</h5>
                    <div class="select_button">
                        <button onclick="OpenCard()" type="button" class="btn btn-primary">선택</button>
                    </div>
                </div>
            </div>
            <div class="art-work">
                <img class="art-work-img" src="static/the_scream.jpg" alt="the_scream">
                <div class="art-work-body">
                    <h5 class="art-work-title">절규</h5>
                    <h5 class="art-work-artist">by 에드바르 뭉크</h5>
                    <div class="select_button">
                        <button onclick="OpenCard()" type="button" class="btn btn-primary">선택</button>
                    </div>
                </div>
            </div>
            <div class="art-work">
                <img class="art-work-img" src="static/the_shipwreck_of_the_minotaur.jpg"
                     alt="the_shipwreck_of_the_minotaur">
                <div class="art-work-body">
                    <h5 class="art-work-title">미노타우로스 호의 난파</h5>
                    <h5 class="art-work-artist">by 윌리엄 터너</h5>
                    <div class="select_button">
                        <button onclick="OpenCard()" type="button" class="btn btn-primary">선택</button>
                    </div>
                </div>
            </div>
            <div class="art-work">
                <img class="art-work-img" src="static/udnie.jpg" alt="udnie">
                <div class="art-work-body">
                    <h5 class="art-work-title">Udnie (젊은 미국 소녀, 댄스)</h5>
                    <h5 class="art-work-artist">by 프란시스 피카비아</h5>
                    <div class="select_button">
                        <button onclick="OpenCard()" type="button" class="btn btn-primary">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="./static/js/script.js"></script>
</html>